<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="KFU" class="Institute">
              <constructor-arg value="KFU"></constructor-arg>
       </bean>
       <bean id="KAI" class="Institute">
              <constructor-arg value="KAI"></constructor-arg>
       </bean>

       
</beans>