<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean name="cn1" class="ComplexNumber">
              <constructor-arg value="1.0"/>
              <constructor-arg value="2.0"/>
       </bean>
       <bean name="cn2" class="ComplexNumber">
              <constructor-arg value="-1.0"/>
              <constructor-arg value="-2.0"/>
       </bean>
       <bean name="cn3" class="ComplexNumber">
              <constructor-arg value="3.0"/>
              <constructor-arg value="4.0"/>
       </bean>
       <bean name="cn4" class="ComplexNumber">
              <constructor-arg value="-3.0"/>
              <constructor-arg value="-4.0"/>
       </bean>
</beans>